@font-face {
  font-family: "thaleahfat";
  src: url("../assets/fonts/thaleahfat-webfont.woff2") format("woff2"),
    url("../assets/fonts/thaleahfat-webfont.ttf") format("truetype");
  font-weight: 400;
}

body {
  text-align: center;
  font-family: "thaleahfat", helvetica;
}

#main {
  width: 400px;
  height: 500px;
  background: url("img/background.jpg");
  margin: 0 auto;
}

#area {
  width: 400px;
  height: 500px;
  position: absolute;
  overflow: hidden;
  z-index: 100;
}

@keyframes planetjet {
  from {
    background: url("img/roket1.png");
    background-size: 100%;
  }
  to {
    background: url("img/roket2.png");
    background-size: 100%;
  }
}

#plane {
  width: 70px;
  height: 65px;
  background: url("img/roket1.png");
  background-size: 100%;
  position: absolute;
  margin-top: 400px;
  animation: planetjet 0.3s infinite;
}

#plane.freeze {
  width: 70px;
  height: 65px;
  background: url("img/roket1.png");
  background-size: 100%;
  position: absolute;
  margin-top: 400px;
  /* animation: planetjet 0.3s infinite; */
}

@keyframes meteor {
  from {
    background: url("img/meteor1.png");
    background-size: 100%;
  }
  to {
    background: url("img/meteor2.png");
    background-size: 100%;
  }
}

.meteor {
  width: 60px;
  height: 60px;
  background: url("img/meteor1.png");
  background-size: 100%;
  animation: meteor 0.7s infinite;
}

.meteor .freeze {
  width: 60px;
  height: 60px;
  background: url("img/meteor1.png");
  background-size: 100%;
  /* animation: meteor 0.7s infinite; */
}
